{
    "semi": true,
    "singleQuote": true,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 130,
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "proseWrap": "always",
    "endOfLine": "auto"
}
